<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- 품명 -->
    <h2 class="border-bottom py-2" th:text="${goods.id}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="border-bottom py-2">제품번호</h5>
            <div class="card-text" th:utext="${@commonUtil.markdown(goods.id)}"></div>
        </div>
    </div>
    <h2 class="border-bottom py-2" th:text="${goods.name}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="border-bottom py-2">효과</h5>
            <div class="card-text" th:utext="${@commonUtil.markdown(goods.effect)}"></div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="border-bottom py-2">이미지</h5>
            <div class="card-text">
                <img th:src="@{${goods.image}}" alt="상품 이미지" style="width: 200px; height: auto;" class="img-fluid"/>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="border-bottom py-2">가격</h5>
            <div class="card-text" th:utext="${@commonUtil.markdown(goods.number)}"></div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="border-bottom py-2">나이대</h5>
            <div class="card-text" th:utext="${@commonUtil.markdown(goods.age)}"></div>
        </div>
    </div>
        <div class="card-body">
            <div class="my-3">
                <a th:href="@{|/goods/modify/${goods.id}|}" class="btn btn-sm btn-outline-secondary"
                th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/goods/delete/${goods.id}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   th:text="삭제"></a>
            </div>
        </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
</html>